@model IEnumerable<SafariBooks_Employee.Models.ManageCustomers>

@{
    ViewBag.Title = "Manage Customers";
}

<h2>ManageCustomers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCard1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCard1Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCard2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCard2Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerActive)
        </th>
        <th></th>
    </tr>

    @*@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCard1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCard1Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCard2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCard2Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.CustomerEmail }) |
                    @Html.ActionLink("Details", "Details", new { id=item.CustomerEmail }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.CustomerEmail })
                </td>
            </tr>
        }*@

</table>
